/* layout.html */
.policies{
  list-style: none;
  padding-left: 0;
}

/* index.html */
.back-image{
  background-image: url("/static/imgs/homeimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

.title{
  font-size: 3.5em;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* layout_pages.html */
.sub-titles{
  font-size: 1.75em;
  padding-top: 3em;
  padding-bottom: 2em;
  font-weight: bold;
}

/* concept.html */
.concept-ex{
  margin-bottom: 5em;
}

/* aboutus.html */
.profiles{
  margin-bottom: 5em;
}

/* msg.html */
.msg{
  height: 1000px;
}