/* layout.html */
html, body, main{
  height: 100%;
  width: 100%;
}

.back-image{
  background-image: url("/static/imgs/homeimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
  font-size: 3.5em;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* for extended pages */
main:not(.back-image){
  height: auto;
}

.sub-title{
  font-size: 1.75em;
  padding-top: 3em;
  padding-bottom: 2em;
  font-weight: bold;
}

/* concept.html */
.concept-ex{
  margin-bottom: 5em;
}