{% extends "layout_pages.html" %}

{% block head %}clients{% endblock %}

{% block content %}
<div class="msg">
  <table class="table table-bordered text-light">
    <thead class="thead-light">
      <tr>
        <th scope="col">file_id</th>
        <th scope="col">company_id</th>
        <th scope="col">user_id</th>
        <th scope="col">filename</th>
        <th scope="col">created_at</th>
      </tr>
    </thead>
    <tbody>
      {% for r in client_list %}
        <tr>
          <th scope="row">{{ r[0] }}</th>
          {% for i in range(1, 5) %}
            {% if i == 4 and r[i] == "無し": %}
              <td><a href="/files/{{ r[4] }}"><img width="50" height="50" src="/files/{{ r[4] }}"></a></td>
            {% else: %}
              <td>{{ r[i] }}</td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}