<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="script.js"></script>
    <title>adMado</title>
    <link rel="shortcut icon" href="favicon.ico">

</head>
<body>

    <header>
        <img src= "logo.png" class = "logo">
        <div id="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="concept.html">Concept</a></li>
                <li><a href="service.html">Service</a></li>
                <li><a href="aboutus.html">About us</a></li>
                <li><a href="contact.html" style = "text-decoration: underline;">Contact</a></li>
            </ul> 
        </div>
        <img src = "instagramlogo.png" class = "facebook">
        <img src = "twitterlogo.png" class = "twitter">

        <small>© 2021 adMado</small>
    </header>

    <div class = "conceptpage">
        <h1 id = adMado>adMado</h1>
        <div class = "background">
            <p class = "concepttext">
                皆さんは広告に対してどんな印象を持つでしょうか？<br><br><br>

                番組の間に挟まれるテレビCMや、駅で見る広告など<br>
                多くの広告が生活の一部に溶け込む現代ですが<br>
                人々の広告への興味は決して高いとは言えません。<br><br><br>
                
                そこで我々は、街中を走る車を<br>
                移動する広告媒体にすることで広告に新たな価値を求め<br>
                より身近に感じていただくきっかけになればと思っております。<br><br><br>
                
                adMadoなら今まで広告を出すことが難しかった<br>
                個人や中小企業の方々も低価格での広告を掲載を実現できます。<br><br><br>
                
                また、ドライバーではない皆様も<br>
                このサービスに参加していただけるよう<br>
                すれ違った広告車を評価できるシステムを採用しております。<br><br><br>
                
                世界全体が落ち込む今だからこそ<br>
                皆様の身近なところに新たなサービスを提供いたします。
            </p>
            <p class = "maintext">身近にもっとワクワクを</p>

    </div>




</body>
