<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="script.js"></script>
    <title>adMado</title>
    <link rel="shortcut icon" href="favicon.ico">

</head>
<body>

    <header>
        <img src= "logo.png" class = "logo">
        <div id="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="concept.html">Concept</a></li>
                <li><a href="service.html">Service</a></li>
                <li><a href="aboutus.html">About us</a></li>
                <li><a href="contact.html" style = "text-decoration: underline;">Contact</a></li>
            </ul> 
        </div>
        <img src = "instagramlogo.png" class = "facebook">
        <img src = "twitterlogo.png" class = "twitter">

        <small>© 2021 adMado</small>
    </header>

    <div class = "contactpage">
        <h1 id = adMado>adMado</h1>
        <div class = "background">


    </div>




</body>





