{% extends "layout.html" %}

{% block contents %}
<main class="flex-fill d-flex flex-column back-image text-light text-center pt-5 pb-5">

    <h1 class="title">adMado</h1>

    <div>
        <a href="">
            <img class="rounded-pill" src="{{ url_for('static', filename='imgs/cloudfunding.jpg') }}" width="200">
        </a>
    </div>

    <div class="flex-fill d-flex flex-column justify-content-around container">
        <p>
            それは広告新時代の窓<br>
            <span class="font-weight-bold font-italic">「自動車広告のマッチングプラットフォーム」</span>
        </p>    
    
        <p>
            広告をより身近に。<br><br>
    
            街中を移動し、多くの人目に留まる<br>
            新しい広告の形<br><br>
    
            <span class="font-italic font-weight-bold">「車に載せる広告」</span>を提案します。
        </p>

        <div class="d-flex flex-column flex-md-row">
            <div class="container">
                <a href="/services/client"><button type="button" class="btn btn-secondary btn-lg rounded-pill mb-5 mb-md-0">広告掲載を希望の方</button></a>
            </div>
            <div class="container">
                <a href="/client"><button type="button" class="btn btn-secondary btn-lg rounded-pill">広告掲載に申し込む</button></a>
            </div>
        </div>
    </div>
    
</main>
{% endblock %}

