{% extends "layout_pages.html" %}

{% block head %}広告掲載規約{% endblock %}

{% block content %}
<div class="container text-left">
  <p class="text-center">
    広告掲載の申請と同時にこの規約に同意したものとする。広告内容に関しては、以下の基準に準じて制作しなければならない。
  </p>

  <ol class="pl-3">
    <li>
      個人のプライバシーを犯すと判断できるものは掲載しない。
    </li>
    <li>
      人権を尊重し、差別や軽蔑を行ってはならない。
    </li>
    <li>
      法と政治、法令を尊重し、それらを妨げる言動を是認するような取り扱いはしない。
    </li>
    <li>
      児童の品性をそこなうような言葉や表現は掲載しない。
    </li>
    <li>
      社会の秩序や良い風俗、習慣を乱すような言動は取り扱わない。
    </li>
    <li>
      提供する情報については真実に基づいて制作し、公正でなければならない。 広告中の誤報は、速やかに対応する。
    </li>
    <li>
      宗教や信教の自由および各宗派を尊重し、それらを誹謗中傷する表現は取り扱わない。
    </li>
    <li>
      他の車両運転者の注意力を散漫にする恐れがある広告は掲載しない。
    </li>
    <li>
      通行者に不利益を及ぼす可能性がある広告表現はしない。
    </li>
  </ol>
  <small>*契約後のキャンセルについては、手続きの進行度に基づきキャンセル料をいただきます。</small>
</div>
{% endblock %}