{% extends "layout.html" %}
{% block contents %}
<div class = "servicepage">
    <h1 id = adMado>adMado</h1>
    <div class = "background">
        <p class = "servicetext">
            adMadoでは、皆様からの評価システムを採用しております。<br>
            我々のアプリケーション上での位置情報システムを利用し<br>
            広告を掲載している車両とすれ違うと初めてその車に対して評価を行えます。<br>
            この評価システムは、広告掲示に対する不正を防止するためでもありながら<br>
            皆様の広告への注目度向上にもつながると考えています。<br>
            皆様からいただいた評価は、１つの評価ごとに感謝料をお支払いします。<br>
        </p>

        <p class = "flowcharttext">
            利用までの流れ<br>
            (ドライバー)
            </p>
            <div class = "flowchart"></div>
            <p class ="flow">会員登録</p>
            <div class = "arrow"></div>
            <div class = "flowchart2"></div>
            <p class ="flow2">広告を選ぶ</p>
            <div class = "arrow2"></div>
            <div class = "flowchart3"></div>
            <p class ="flow3">広告貼り付け</p>
            <div class = "arrow3"></div>
            <div class = "flowchart4"></div>
            <p class ="flow4">撮影 ＆ 運転</p>
            <div class = "arrow4"></div>
            <div class = "flowchart5"></div>
            <p class ="flow5">入金</p>

        <p class = "notice">
            ＊こちらで説明している流れはすべてスマートフォンアプリ内でのみ行えます。<br>
            ＊評価システムは、ドライバーだけでなく皆様の位置情報も使用させていただく必要がございます。<br>
            ＊１つの評価に対する感謝料は、変動する可能性がございます。
        </p>
    </article>
</div>
{% endblock %}